footer {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    justify-content: center;
}

.texto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mensagem,
.icones,
.texto-final {
    display: flex;
    justify-content: center;
    align-items: center;
}

.icones{
    gap: 15px;
    font-size: 20px;
}